<div class="content" role="main">
  <h1>Demo using REMs like measurements inside of the Shadow DOM</h1>
  <p>This is a demo to demonstrate the ability of not only being able to user REM inside of the shadow DOM,
    but also to demonstrate the ability to import a CSS framework such as Bootstrap and have its entire styles protected from the global scope.</p>
  <p>What his means is that it is theoretically and practically possible to certain extent to have 2 CSS frameworks driven by REMs to co-exist on the same page without very little in the form of CSS clashes.</p>
  <p>The technique used to achieve this is to create a custom unit property that will be used as a basis to support 'REMs' Calculations from the Shadow Root, highlighted as per link: <a href="" target="_blank">Link demonstrating technique</a> and then running a
    post-CSS plugin seperately I have written in the background in the background to replace all REMs measurements with the new custom unit property. </p>
  <p>Here are the results of the changes using the Bootstrap framework out of the box inside of the shadow DOM with those adjustments.</p>
  <app-shadow-example style="display: block; margin-top: 2rem;"></app-shadow-example>
</div>
